<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.droidcon.conference" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".hack.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:launchMode="singleTask"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".hack.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hack.ConferenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_conference" >
        </activity>
        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_conference" >
        </activity>
        <activity
            android:name=".hack.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/action_about" >
        </activity>
        <activity
            android:name=".hack.FilteredActivity"
            android:screenOrientation="portrait"
            />

        <receiver
            android:name=".hack.utils.UAReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>
                <action android:name="com.urbanairship.push.DISMISSED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
